<% provide(:title, "About") %>
<h2><b> Group member 1 name:</h2> <h2>Muhammad AlSharifi</h2>
<h2><b> Group member 1 student number:</h2> <h2>s3607212</h2>
<h2><b> Group member 2 name:</h2> <h2>Zeeshan Mujtaba></h2>
<h2><b>Group member 2 student number:</h2> <h2>s3614080</h2>
<h2><b> heroku deployed URL:</h2>
<h2><a href= "https://obscure-wildwood-77754.herokuapp.com" >Heroku url</a></h2>
<h2><b> assignment 2 bitbucket URL: </b></h2>
<h2><a href= "https://bitbucket.org/s3607212/rad18_assign_2_group_-s3607212-_-s3614080/src/master/" >Bitbucket url</a></h2>

