<% provide(:title, 'New Comments' ) %>
<div class="container">
    <div class="row">
        <div class="col-md-8">
         <div class="page-header">
            <h1>Comments </h1>
                <div class="comments-list">
                <% get_all_comments.each do |comment| %>    
                    <div class="media">
                      <% postTitle = Post.find_by(id: comment.post_id).title %>   
                      <% username = User.find_by(id: comment.user_id).username %>
                      <% commentBody = comment.content %>
                      <% postId = Post.find_by(id: comment.post_id) %>
                      <% timestamp = time_ago_in_words(comment.created_at) %>
                      <a class="media-left" href="#"></a>
                                
                        <div class="media-body">
                            <b> <%= username %> <%= timestamp %>  on | <%= postTitle %>  </b>
                            <p> <%= commentBody %> </p>
                        </div>
                    </div>           
                 <% end %> 
                </div>
        </div>
</div>
</div>
</div>
                    
                    
                       
                       
                       

<!--
<div id='form'>
<div class="row">
<div class="col-md-12">

<form action="" method="POST" id="commentform">

<div id="comment-name" class="form-row">
<input type = "text" placeholder = "Name (required)" name = "dname"  id = "name" >
</div>
<div id="comment-email" class="form-row">
<input type = "text" placeholder = "Mail (will not be published) (required)" name = "demail"  id = "email">
</div>
<div id="comment-url" class="form-row">
<input type = "text" placeholder = "Website" name = "url"  id = "url" >
</div>
<div id="comment-message" class="form-row">
<textarea name = "comment" placeholder = "Message" id = "comment" ></textarea>
</div>
<a href="#"><input type="submit" name="dsubmit" id="commentSubmit" value="Submit Comment"></a>
<input style="width: 30px" type="checkbox" value="1" name="subscribe" id="subscribe" checked="checked">
<p1><b>Notify me when new comments are added.</b></p1>
</form>

</div>
</div>
</div>
</div>
-->