

<div class="container">
    <div class="row">
    <div class="col-md-8">
     <div class="page-header">
        <h1>Posts </h1>
            </div> 
            <% index = 0 %>
            
               <%= renderPosts(index) %> 
               <%= button_to "More" %>
        
    </div>
    </div>
    </div>
    </div>
 