<% provide(:title, 'Submit News' ) %>
<h1>Submit</h1>


<div id='form'>
 <div class="row">
  <div class="col-md-12">
   <%= form_for @post , :url => addnewpost_path  do |f| %>
        <%= render 'shared/post_error_messages' %>
        <%= f.label "Title (required) " %>
        <%= f.text_area :title, class: 'form-control' %>
        <%= f.label "Source (optional)" %>
        <%= f.text_field :source, class: 'form-control' %>
        <%= f.submit "Post" ,  class: "btn btn-primary" %>
      <% end %>  
  </div>
 </div>
</div>

