<% provide(:title, 'Home Page '+ @page.to_s ) %>
 <div class="page-header">

<ul>
<div class="comments-list">
    <% index = @page * 8 %>  
            <% @posts.each do |post| %>   
            
            <div class="media">
                <% postTitle = post.title %>   
                  <% postSource = post.source %> 
                  <% postOwner = User.find_by(id: post.user_id).username %>
                  <% numOfComments = get_number_of_comments_for(post) %>
                  <% timestamp = time_ago_in_words(post.created_at) %>
                <a class="media-left" href="#">
                </a>
                <div class="media-body">
                    <b> <li> <%= index + 1 %>  
                      <%= postTitle %>  ( <%= link_to postSource , postSource , :target => "_blank" %>  )</b>
                   <p>by <%= postOwner %> <%= timestamp %>  | <%= link_to (get_number_of_comments_for(post).to_s + " comments") , user_post_path( User.find_by(id: post.user_id) , post.id )  %> </p>
                     </li>
                </div>
            </div>   
             <% index += 1 %>  
             
        <% end %> 
        <% page1 = @page %>
        <% page1 += 1 %>
        <% if (index < get_number_of_posts) %>
            <div><%= link_to "More"  , posts_path(page: page1  ) , class: "btn btn-primary form-spacing-top"  %></div>
        <% end %>
</ul>