<% provide(:title, Post.find_by(id: params[:id]).title) %>

<h3> <%= Post.find_by(id: params[:id]).title %></h3>
<p> by <%= User.find_by(id: params[:user_id]).username %>  <%= time_ago_in_words(Post.find_by(id: params[:id]).created_at) %> | <%= get_number_of_comments %> comments </p>
    <% if current_user %>
        <%= form_for  @newcomment, :url => addnewcomment_path do |f| %>
          <%= f.hidden_field :post_id %>
          <%= f.text_area :content, class: 'form-control' %>
          <%= f.submit "post comment" , class: "btn btn-primary" %>
        <% end %>
    <% else %>
        <p>  <%= link_to "Login to add Comment", login_path ,   class: "btn btn-primary" %> </p>
    <% end %>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                Comments
            </div> 
            <div class="comments-list">
            <%  get_latest_three_comments.each do |comment| %>    
                    <div class="media">
                        <b> <%=  comment.user.username %> <%= time_ago_in_words(comment.created_at) %> </b>
                        <p> <%= comment.content %> </p>
                    </div>
            <% end %> 
            </div>
        </div>
    </div>
</div>

          