<footer class="footer">
  <div class="row">
  <div class="col">
   <div class="text-center">
    <%= link_to "API |", 'https://github.com/pigfly/RMIT-CSIT-RAD/tree/master/2018_S1/assignment2' %>
    <%= link_to "About",   about_path %>
  </div>
  </div>
  </div>
</footer>
