 <header class="navbar navbar-fixed-top navbar">
  <nav class="navbar navbar-default">
    <div class="container">
        
    <div class="navbar-header">
       <%= link_to image_tag("rmit_white.png", alt: "Brand" ,  :size => '60' ) %>
       <%= link_to "RMIT news", root_path , id: "logo" , :class => "form-spacing-top" %>
   
    </div>
         <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Comments",   newcomments_path  %></li>
            <li><%= link_to "Submit",   submit_path %></li>
            <% if logged_in? %>
                 <li><%= link_to "Log out", logout_path , method: :delete %></li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
    </div>
</nav>
</header>